
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      nav,
      section,
      summary {
        display: block
      }

      audio,
      canvas,
      progress,
      video {
        display: inline-block;
        vertical-align: baseline
      }

      audio:not([controls]) {
        display: none;
        height: 0
      }

      [hidden],
      template {
        display: none
      }

      abbr[title] {
        border-bottom: 1px dotted
      }

      b,
      strong {
        font-weight: bold
      }

      dfn {
        font-style: italic
      }

      mark {
        background: #ff0;
        color: #000
      }

      small {
        font-size: 80%
      }

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline
      }

      sup {
        top: -0.5em
      }

      sub {
        bottom: -0.25em
      }

      img {
        border: 0
      }

      svg:not(:root) {
        overflow: hidden
      }

      hr {
        box-sizing: content-box;
        height: 0
      }

      pre {
        overflow: auto
      }

      code,
      kbd,
      pre,
      samp {
        font-family: monospace, monospace;
        font-size: 1em
      }

      textarea,
      button,
      input.text,
      input[type="text"],
      input[type="button"],
      input[type="number"],
      input[type="submit"],
      .input-checkbox {
        -webkit-appearance: none
      }

      input[type='number'] {
        -moz-appearance: textfield
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0
      }

      input::-ms-clear {
        display: none
      }

      fieldset {
        border: 0
      }

      .heading {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: bold;
        font-style: normal
      }

      .heading h1,
      .heading-1 {
        font-size: 1.500em
      }

      .heading h2,
      .heading-2 {
        font-size: 1.250em
      }

      .heading h3,
      .heading-3 {
        font-size: 1.125em
      }

      .heading h4,
      .heading-4 {
        font-size: 1em
      }

      .subheader {
        font-family: "proxima-nova";
        font-weight: 600;
        font-style: normal
      }

      .subheader-1 {
        font-size: 1em
      }

      .subheader-2 {
        font-size: 0.875em
      }

      .small {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px
      }

      .small-1 {
        font-size: 0.75em
      }

      .small-2 {
        font-size: 0.625em
      }

      .page_header {
        font-family: 'sigvar', serif;
        font-size: 1.625em;
        color: #00266b;
        font-weight: 400
      }

      .intro_copy {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 1.375em;
        font-weight: 300;
        font-style: normal;
        color: #222;
        line-height: 1.375em
      }

      .page_subheader {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.125em;
        color: #222
      }

      .section_header--lv1 {
        font-family: 'sigvar', serif;
        font-size: 1.25em;
        color: #00266b
      }

      .section_header--lv2 {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1em;
        color: #00266b
      }

      a,
      a.link,
      a .link {
        color: #0254EC;
        transition: color 0.40s ease 0s;
        text-decoration: none
      }

      a:hover {
        color: #00266b
      }

      span,
      .span,
      span.span {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif
      }

      strong,
      .strong,
      .text-bold {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: bold;
        font-style: normal
      }

      em,
      .emphasis,
      em.em {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 0.875em
      }

      small,
      .fineprint {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 0.750em;
        font-weight: 400
      }

      h1,
      h2,
      h3,
      h4 {
        line-height: 1em;
        font-weight: 700
      }

      p {
        font-size: 1rem;
        line-height: 1.5em
      }

      p a {
        text-decoration: none;
        text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff, 0 0.05em 0 #fff, 0 -0.05em 0 #fff, 0.01em 0 0 #fff, -0.01em 0 0 #fff, 0 0.1em 0 #fff, 0 -0.01em #fff;
        background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
        background-repeat: repeat-x;
        background-position: bottom 0.05em center;
        background-size: 100% 0.05em
      }

      p a:focus {
        outline: none;
        background-color: #0254EC;
        color: white
      }

      a.link__action {
        font-size: 0.85rem
      }

      ul,
      ol {
        font-size: 1em;
        line-height: 1.5em
      }

      ol li {
        list-style: decimal
      }

      .container {
        display: flex;
        margin: 0;
        padding: 20px
      }

      .container_main--fixed-width {
        width: 61.75rem;
        position: relative;
        padding: 20px
      }

      .container_main--responsive {
        padding: 20px;
        width: 100%
      }

      .container_card {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px
      }

      .container_card--no-pad {
        padding: 0
      }

      html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
      }

      *,
      *:before,
      *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit
      }

      html {
        font-size: 16px;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
      }

      body {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA
      }

      li,
      dt,
      dd,
      br,
      th,
      td {
        margin-top: 0
      }

      .container {
        padding: 1.5rem
      }

      .containerp {
        margin-top: 1.5rem
      }

      *+h2,
      *+h3 {
        margin-top: 1.5em
      }

      main:empty {
        display: none
      }

      [href^="http"]:not([href*="singaporeair.com"])::after {
        display: inline-block;
        widows: 1em;
        height: 1em
      }

      [href="#main"]:not([class="header-main_logo"]) {
        position: absolute;
        top: 0;
        right: 100%;
        height: 0;
        overflow: hidden
      }

      [v-cloak] {
        display: none
      }

      [href="#main"]:focus {
        right: auto;
        height: auto;
        z-index: 1000
      }

      .custom-checkbox {
        position: relative
      }

      .custom-checkbox input {
        position: absolute;
        top: 3px;
        opacity: 0;
        cursor: pointer;
        width: 14px;
        height: 14px
      }

      .custom-checkbox input+label {
        display: inline-block;
        padding-left: 23px;
        margin-right: 10px;
        line-height: 18px;
        font-size: 14px;
        cursor: pointer;
        color: #666
      }

      .custom-checkbox input+label:before {
        content: "";
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        position: absolute;
        top: 4px;
        left: 0;
        background-color: #fff
      }

      .custom-checkbox input:checked+label.assign-access-checked,
      .custom-checkbox input:checked+label:after,
      .custom-checkbox input.checked+label.assign-access-checked,
      .custom-checkbox input.checked+label:after {
        display: block
      }

      .custom-checkbox input+label:after {
        content: "\e610";
        font-family: "sia";
        font-weight: bold;
        color: #ef9a1a;
        position: absolute;
        top: 3px;
        left: 2px;
        display: none;
        font-size: 14px
      }

      .custom-checkbox input:checked+label,
      .custom-checkbox input.checked+label {
        color: #000 !important
      }

      input[type="checkbox"],
      input[type="radio"] {
        outline: none;
        box-sizing: border-box;
        padding: 0
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px)
      }

      .no-transition {
        transition: none !important
      }

      .all-transition {
        transition: all 400ms ease-in-out
      }

      .disable-scroll {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999
      }

      .spacer {
        height: 1.6em;
        display: block;
        width: auto
      }

      .spacer--medium {
        height: 2em
      }

      .spacer--large {
        height: 2.1em
      }

      .separator {
        background-color: rgba(255, 255, 255, 0.5);
        height: 1px;
        width: 100%;
        border: none
      }

      body {
        min-height: 1500px
      }

      header {
        min-height: 5rem;
        height: auto;
        padding: 0;
        width: 100%;
        background-color: #00266b;
        display: table;
        position: relative
      }

      @media(min-width:768px) and (max-width:991px) {
        #pl-header .nav-main {
          display: none !important
        }
      }

      .container-center {
        margin: 0 auto
      }

      .home-component .contents_wrapper .container-center {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto
      }

      @media(min-width:576px) {
        .home-component .contents_wrapper .container-center {
          max-width: 540px
        }
      }

      @media(min-width:768px) {
        .home-component .contents_wrapper .container-center {
          max-width: 720px
        }

        .home-component .contents_wrapper .container-center {
          max-width: 100%;
          padding-right: 0;
          padding-left: 0
        }
      }

      @media(min-width:992px) {
        .home-component .contents_wrapper .container-center {
          max-width: 940px;
          width: 100%;
          padding-right: 10px;
          padding-left: 10px;
          margin-right: auto;
          margin-left: auto
        }
      }

      @media(min-width:1200px) {
        .home-component .contents_wrapper .container-center {
          max-width: 1100px
        }
      }

      #pl-header .social-icon .separator-feedback {
        margin: -1px .3rem;
        display: inline-block
      }

      .header-main_wrap {
        display: grid;
        grid-template-columns: 170px auto;
        grid-template-rows: auto;
        height: auto;
        padding: 0;
        grid-column-gap: 1.2rem;
        align-items: center
      }

      .topup-locale {
        display: flex
      }

      .social-icon .separator-icon {
        border-left: 1px solid #ff9f00;
        padding-right: 6px;
        display: inline-block;
        height: 8px
      }

      .social-icon .helpandfeedback {
        padding-right: 13px
      }

      .social-icon .feedbackLink {
        padding-left: 4px
      }

      .masthead {
        width: 61.75em;
        margin: 0 auto;
        position: relative;
        z-index: 2
      }

      .masthead_copy {
        padding-top: 70px;
        color: #fff
      }

      @media(min-width:768px) {
        .masthead_copy {
          z-index: 2;
          width: 720px;
          margin: 0 auto
        }
      }

      @media(min-width:768px) and (max-width:991px) {
        .masthead {
          width: 100%
        }

        .masthead_copy {
          margin: 0 35px
        }
      }

      @media(max-width:767px) {
        .masthead {
          width: 100%
        }

        .masthead .masthead_copy {
          margin: 0 17px
        }

        .masthead_content {
          transform: translateY(10px)
        }

        .masthead_wrapper {
          height: 340px !important;
          margin-bottom: 0 !important;
          background-position: 65% center;
          width: 100%
        }

        #pl-newsalert .news-alert__title-text {
          display: none
        }

        #pl-newsalert .news-alert-wrapper {
          padding-left: 20px
        }

        #pl-newsalert .container-center .news-alert {
          grid-template-columns: 106px calc(100% - 113px) 10%
        }
      }

      @media(min-width:992px) and (max-width:1199px) {
        .masthead {
          width: 57.5rem
        }
      }

      @media(min-width:992px) {
        .masthead_copy {
          margin: 0
        }
      }

      @media(min-width:1200px) {
        .masthead {
          width: 67.5rem
        }
      }

      .masthead_wrapper {
        background-position: center center;
        height: 480px;
        margin-bottom: 30px;
        background-size: cover;
        position: relative;
        background: #082863;
        background: linear-gradient(105deg, rgba(8, 40, 99, 1) 0, rgba(39, 115, 139, 1) 100%)
      }

      .masthead_copy .masthead_intro_copy {
        letter-spacing: 1.7px;
        font-weight: 400;
        font-size: 1.0625em;
        text-transform: uppercase
      }

      .masthead_copy .masthead_heading {
        font-family: 'sigvar', sans-serif;
        font-size: 3.56em;
        color: inherit;
        padding: 0;
        margin: 5px 0 10px;
        font-weight: 400
      }

      .header_wrapper {
        width: 100%
      }

      .blur_image {
        height: 480px
      }

      .masthead_intro_link {
        margin-top: 20px
      }

      .masthead_intro_msg {
        font-family: 'sigvar', sans-serif;
        font-weight: normal;
        font-size: 33px
      }

      .masthead_intro_link a {
        text-shadow: none;
        background-image: none;
        color: #fff;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: normal;
        font-size: 16px
      }

      .masthead_intro_link a:hover {
        color: #fff
      }

      .blurcontain {
        overflow: hidden;
        width: 100%;
        position: absolute;
        opacity: 1;
        background-position: center center;
        background-size: cover
      }

      div#masthead_banner_image {
        opacity: 0;
        transition: 300ms ease opacity;
        transition-delay: 1s
      }

      div#masthead_banner_image[class*="ins-set-banner-"] {
        opacity: 1 !important
      }

      .masthead_wrapper .blur_image {
        background-position: center 0 !important;
        background-repeat: no-repeat !important
      }

      .masthead_wrapper .masthead_copy {
        width: 550px !important;
        padding: 0 !important;
        height: 256px !important;
        display: flex !important;
        align-items: center !important;
        color: #fff
      }

      .masthead_wrapper .masthead_intro_msg {
        font-size: 33px !important;
        line-height: 36px !important;
        font-family: sigvar, sans-serif !important;
        margin: 0 !important
      }

      .masthead_wrapper .masthead_intro_link a {
        font-size: 16px !important;
        font-family: proxima-nova, "Open Sans", Arial, Helvetica, sans-serif !important;
        margin-top: 20px !important;
        display: inline-block !important
      }

      @media screen and (max-width:470px) {
        .masthead_wrapper .masthead_copy {
          width: 270px !important;
          height: 260px !important;
          align-items: flex-end !important
        }

        .masthead_wrapper .masthead_intro_msg {
          font-size: 20px !important;
          line-height: 24px !important
        }

        .masthead_wrapper .masthead_intro_link a {
          font-size: 14px !important;
          margin: 20px 0 30px !important
        }
      }

      @media(min-width:320px) and (max-width:575px) {
        .blur_image {
          height: 340px
        }
      }

      @media(min-width:768px) {
        .pl-tab-content-container.mobile-tab-content .tab_content_details {
          display: none !important
        }
      }

      .nav-main_item {
        display: inline-block;
        max-height: 80px;
        margin-right: 1.375rem
      }

      ̥̥ .home-component {
        position: relative;
        z-index: 1
      }

      .experience-baseline1__item {
        height: 610px;
        background-color: #dcdcdc
      }

      .text-right {
        text-align: right
      }

      .promotions__image {
        background-color: #dcdcdc
      }

      .pl-title {
        width: 525px;
        height: 30px;
        background-color: #dcdcdc
      }

      .pl-circle {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #dcdcdc
      }

      .pl-item-small {
        width: 100px;
        height: 14px;
        background-color: #dcdcdc
      }

      .pl-item-medium {
        width: 160px;
        height: 14px;
        background-color: #dcdcdc
      }

      .pl-item-large {
        height: 14px;
        background-color: #dcdcdc;
        width: 265px
      }

      .pl_user_profile {
        position: relative;
        display: block;
        width: 1.562rem;
        height: 1.562rem;
        z-index: 2;
        background-color: white;
        border-radius: 50%;
        float: right;
        right: 8px
      }

      .pl_search_loggedin {
        float: none !important;
        position: absolute !important;
        right: 3.4rem;
        width: auto !important
      }

      .pl-container {
        max-width: 1100px;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto
      }

      .header-main_logo {
        display: block;
        min-width: 124px;
        position: relative;
        text-align: left
      }

      .logo-tablet {
        display: none
      }

      .nav-main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        letter-spacing: .02em
      }

      .nav-main_wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        list-style: none;
        width: max-content;
        line-height: 1.5em
      }

      .nav-main_item {
        display: inline-block;
        max-height: 5rem;
        margin-right: 1.375rem;
        list-style: none;
        padding: 0
      }

      .nav-main_grp {
        display: inline-block
      }

      .nav-main_grp_link {
        color: white;
        line-height: 5.625rem;
        font-family: 'sigvar', serif;
        text-decoration: none
      }

      html[lang='ru'] .nav-main_item a,
      html[lang='de'] .nav-main_item a,
      html[lang='es'] .nav-main_item a,
      html[lang='pt'] .nav-main_item a,
      html[lang='fr'] .nav-main_item a,
      html[lang='nl'] .nav-main_item a,
      html[lang='th'] .nav-main_item a,
      html[lang='in'] .nav-main_item a,
      html[lang='it'] .nav-main_item a,
      html[lang='vi'] .nav-main_item a {
        line-height: 1;
        display: list-item
      }

      html[lang='de'] .nav-main_item,
      html[lang='ru'] .nav-main_item,
      html[lang='in'] .nav-main_item,
      html[lang='es'] .nav-main_item,
      html[lang='pt'] .nav-main_item,
      html[lang='fr'] .nav-main_item,
      html[lang='nl'] .nav-main_item,
      html[lang='th'] .nav-main_item,
      html[lang='it'] .nav-main_item,
      html[lang='vi'] .nav-main_item {
        margin-top: 20px;
        text-align: center;
        line-height: 4.5rem;
        margin-right: .6rem
      }

      .lang-profile {
        display: inline-block;
        text-align: right;
        position: relative;
        justify-self: end
      }

      .lang-profile_wrap {
        margin: .3rem 0 .8rem;
        display: block;
        align-self: center;
        position: relative
      }

      .lang-profile_wrap .separator {
        height: .75rem;
        width: 1px;
        border-right: 1px solid white;
        display: inline-block;
        margin: 0 .3rem
      }

      .lang-profile_country-selector {
        font-family: 'proxima-nova', 'Open Sans', 'Arial', 'Helvetica', sans-serif;
        font-size: .5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        color: white;
        width: max-content;
        text-decoration: none;
        display: block;
        margin-top: 11px;
        margin-bottom: 10px
      }

      .lang-profile_country-selector span {
        font-size: .625rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        color: white
      }

      .lang-profile_country-selector .separator {
        width: 2px;
        height: 2px;
        margin: 0 2px 2px;
        border-radius: 50%;
        display: inline-block;
        background-color: #fff
      }

      .lang-profile_country-selector .ico {
        display: inline-block;
        margin-left: .3rem;
        margin-bottom: -3px;
        width: 14px;
        height: 14px;
        background: url('/assets/images/svg/icons/chevron.svg') center center transparent no-repeat
      }

      .lang-profile_wrap .v-popover {
        position: relative;
        width: 145px
      }

      .lang-profile_wrap .v-popover .trigger {
        display: inline-block;
        position: absolute;
        left: 0;
        padding-bottom: 1.875rem
      }

      .lang-profile_ico-search {
        border: 0;
        width: .75rem;
        height: .75rem;
        background: url('/assets/images/svg/icons/search.svg') no-repeat center center transparent
      }

      .lang-profile_login {
        color: white;
        font-family: "sigvar", sans-serif
      }

      #pl-newsalert {
        height: 64.5px;
        background-color: #fff
      }

      .form_control .input_wrapper {
        background-color: #fff;
        height: 50px;
        border-radius: 2px;
        border: 1px solid #ccc;
        display: block;
        min-width: 100px;
        width: 100%
      }

      .social-icon .v-popover {
        float: right
      }

      .news-alert-wrapper {
        padding: 20px 10px;
        border-top: 2px solid #ff9f00
      }

      #pl-newsalert .news-alert {
        display: grid;
        grid-template-columns: 115px calc(100% - 151px);
        height: 24px
      }

      .news-alert__title {
        align-self: center;
        padding: 0
      }

      .news-alert-orange {
        width: 17px;
        height: 17px;
        background: #fd9e26;
        border-radius: 50%;
        display: flex;
        float: left;
        color: #fff;
        align-items: center;
        justify-content: center;
        padding-bottom: 1px;
      }

      .news-alert__title-text {
        color: #00266b;
        font-size: 11px;
        font-weight: 600;
        float: left;
        display: inline-block;
        padding-left: 8px;
        text-transform: uppercase;
        letter-spacing: 1.5px
      }

      .pl-user-summary-panel-container {
        position: relative;
        z-index: 1;
        max-width: 1100px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        transform: translateY(-14rem);
        background: transparent
      }

      .pl-user-summary-panel-container#pl-widget {
        transform: translateY(-13rem);
        margin-bottom: calc(-13rem+30px)
      }

      .pl-tab-view-container {
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px
      }

      .pl-kf-log-in-container {
        height: 50px;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 2px;
        transition: background-color .3s ease;
        display: flex;
        overflow: hidden;
        align-items: center;
        padding: 12px 20px
      }

      .pl-user {
        background: black;
        border-radius: 50%;
        width: 14px;
        height: 15px
      }

      button.pl-login-btn {
        transform: translate(0);
        margin-left: 27px;
        float: right;
        margin-top: 0;
        color: #fff;
        background-color: #2275d3;
        padding: 6px 20px;
        border-radius: 30px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .6875rem
      }

      .pl-kf-log-in-container__span {
        margin-left: 20px;
        width: 85%;
        display: block;
        float: left;
        font-size: 14px
      }

      .pl-tab-title-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
      }

      .pl-tab-title {
        width: 20%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 47px;
        font-weight: 600;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px;
        text-align: center
      }

      .pl-tab-title.pl-tab-active {
        width: 20%;
        background-color: #002a6b
      }

      .pl-tab-content-container {
        padding: 1.875rem 2rem;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        height: 288.9px
      }

      .pl-tab-content-container .pl-card_heading {
        height: 20px;
        width: 286px;
        margin-bottom: 20px;
        font-family: 'sigvar', serif;
        font-size: 2.0625rem;
        color: #00266b;
        font-weight: 400;
        font-size: 1.25rem;
        -webkit-margin-before: 0
      }

      .pl-tab-content-container .pl-separator {
        height: 1px;
        background-color: #f3f5f8;
        width: 100%;
        margin-bottom: 24px
      }

      .pl-tab-content-container .pl-card_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px
      }

      .pl-tab-content-container .pl-card_body .item {
        width: 50%
      }

      .pl-tab-content-container .pl-card_body .pl-circle {
        margin-right: 10px;
        display: inline-block
      }

      .pl-tab-content-container .pl-card_body .pl-item-medium,
      .pl-tab-content-container .pl-card_body .pl-item-small {
        display: inline-block
      }

      .pl-search {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px
      }

      .pl-search .item {
        width: calc(50% - 7.5px);
        border: 1px solid #ccc;
        height: 48px;
        border-radius: 2px;
        position: relative
      }

      .pl-search .item .hr-center {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #ccc
      }

      .pl-flight-boarding-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
      }

      .pl-flight-boarding-details .item {
        width: calc(41% - 10px);
        border: 1px solid #ccc;
        height: 48px;
        border-radius: 2px
      }

      .pl-flight-boarding-details .item.last {
        width: calc(18% - 10px);
        height: 50px;
        background-color: #002a6b
      }

      @media(min-width:1200px) {
        .container-center {
          width: 1080px
        }
      }

      @media(max-width:1200px) and (min-width:992px) {
        .pl-search {
          margin-bottom: 16px;
          margin-top: 44px
        }

        .pl-tab-content-container {
          height: 323px
        }

        .container-center {
          max-width: 57.500rem
        }

        .nav-main_item {
          margin-right: 1.2rem
        }

        .pl-container,
        .pl-user-summary-panel-container {
          max-width: 939px
        }

        .topup-locale {
          display: flex !important;
          justify-content: flex-end !important
        }

        .pl-header-main_logo,
        .header-main_logo {
          min-width: 130px
        }

        .vendor-ie .pl-header-main_logo {
          float: left;
          margin-top: 15px
        }

        #pl-header .topup-locale {
          position: absolute;
          width: 340px;
          right: 0;
          z-index: 5
        }

        #pl-header .help-feedback,
        #pl-header .lang-select {
          display: inline-block
        }

        #pl-header .login-signup {
          line-height: 20px
        }

        #pl-header .trigger {
          margin-left: 5px
        }

        #pl-header .lang-profile_wrap__grp {
          line-height: 20px;
          display: block;
          width: 140px;
          margin-left: 5px;
          padding-bottom: 0
        }

        #pl-header .lang-profile_wrap.login-signup {
          top: 34px;
          position: relative !important;
          right: 0
        }
      }

      @media(min-width:992px) {
        .header-main {
          min-height: 5rem;
          height: auto;
          padding: 0
        }

        .header-main_logo {
          display: block;
          min-width: 124px
        }

        .nav-main {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto
        }

        .nav-main_wrap {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          padding: 0;
          margin: 0;
          list-style: none;
          line-height: 1.5em
        }
      }

      @media(max-width:991px) {
        .pl-header-main_logo {
          height: 45px
        }

        #pl-newsalert .news-alert {
          grid-template-columns: 106px calc(100% - 146px) 10%
        }
      }

      @media(max-width:991px) and (min-width:768px) {
        .pl-kf-log-in-container {
          height: auto
        }

        .pl-kf-log-in-container__span {
          margin-left: 14px;
          width: 80%
        }

        .pl-user {
          width: 11px
        }

        #pl-header .nav-main_item {
          margin-right: 20px
        }
      }

      @media(max-width:767px) {
        .pl-tab-title-container .pl-tab-title {
          display: none
        }

        .pl-tab-title.title-mobile {
          text-align: left;
          display: block;
          box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
          width: 100%;
          border-radius: 3px;
          background-color: #174cab;
          background-image: linear-gradient(to right, #00266b 0, #174cab 100%);
          height: 50px;
          padding: 15px;
          letter-spacing: 2px;
          font-size: .875rem
        }

        #hlogin {
          display: none
        }

        .pl-tab-view-container {
          transform: translateY(-1.875rem);
          position: relative
        }

        .pl-tab-content-container {
          display: none
        }

        .pl-container.pl-user-summary-panel-container.mob-view {
          margin-bottom: 0 !important;
          transform: none !important
        }

        .pl-tab-content-container.mobile-tab-content {
          display: block;
          padding: 0;
          background: 0
        }

        .pl-tab-content-container.mobile-tab-content .tab_content_details {
          margin-top: 10px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: .5em
        }

        .pl-tab-content-container.mobile-tab-content .tab_content_details .tab-title {
          background-color: #fff;
          border: 1px solid #e5e9f0;
          padding: 30px 10px
        }

        .pl-tab-content-container.mobile-tab-content .tab_content_details .tab-title .tab-title-content {
          color: #00266b;
          letter-spacing: 2px;
          padding: 0;
          font-weight: bold
        }
      }

      .visible-xs {
        display: none
      }

      .overlay-loading.hidden {
        display: none
      }

      .overlay-loading {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100%;
        z-index: 1000
      }

      .overlay-loading .loading__heading span {
        font-family: "Sigvar", sans-serif;
        font-weight: 300;
        font-size: 26px
      }

      .overlay-loading .loading__heading {
        position: absolute;
        top: 50%;
        right: 20px;
        left: 20px;
        font-family: "Sigvar", sans-serif;
        margin-top: 25px;
        text-align: center;
        font-size: 28px;
        color: #02266b;
        font-weight: 300;
        font-size: 26px;
        text-transform: none;
        line-height: 1.5
      }

      .overlay-loading .loading__footer {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
        margin: 0;
        text-align: center;
        font-size: 16px;
        color: #000
      }

      .overlay-loading .loading__text {
        margin: 0 10px;
        display: inline-block;
        vertical-align: baseline
      }

      .overlay-loading .loading__logo {
        width: 122px;
        margin: 0 10px;
        vertical-align: baseline;
        display: inline-block
      }

      .overlay-loading .loading__logo img {
        display: block;
        max-width: 100%;
        vertical-align: baseline
      }

      @-webkit-keyframes load8 {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0)
        }

        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg)
        }
      }

      @keyframes load8 {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0)
        }

        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg)
        }
      }

      .loading {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;
        border-style: solid;
        border-color: #00266b;
        border-top-color: rgba(0, 38, 107, 0.1);
        border-right-color: rgba(0, 38, 107, 0.1);
        -webkit-animation: load8 .8s infinite linear;
        -moz-animation: load8 .8s infinite linear;
        animation: load8 .8s infinite linear
      }

      .loading--full {
        border-width: 7px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        margin-top: -95px;
        margin-left: -45px
      }

      .loading__logo img {
        zoom: 1.5
      }

      .loading--medium {
        border-width: 4px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -30px;
        width: 52px;
        height: 52px
      }

      .loading--small {
        border-width: 2px;
        width: 12px;
        height: 12px
      }

      .placeholder-loadding {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 0;
        padding: 0;
        margin: 0
      }

      .placeholder-loadding.fadeout {
        animation: fade-out 2s forwards;
        visibility: hidden;
        display: none
      }

      @keyframes fade-out {
        to {
          opacity: 0
        }
      }

      @media(max-width:991px) and (min-width:768px) {
        .pl-header-main_logo {
          margin-top: 10px
        }

        .pl-tab-content-container {
          height: auto
        }

        .pl-user-summary-panel-container {
          width: 100%;
          padding: 0
        }

        .nav-main {
          display: none
        }

        .header-main_wrap {
          max-width: 720px
        }

        .pl-nav-main {
          display: none !important
        }

        .logo-tablet {
          display: inline-block;
          margin-top: 22px
        }

        .pl-container {
          max-width: 720px
        }

        .pl-user-summary-panel-container {
          max-width: 100%
        }

        .pl-kf-log-in-container {
          margin-left: auto;
          margin-right: auto
        }

        .pl-tab-content-container .pl-card_body .pl-item-medium {
          width: 35%
        }
      }

      @media(max-width:767px) {
        .overlay-loading .loading__text {
          display: none
        }

        .overlay-loading .loading__logo {
          float: right
        }

        #pl-header {
          min-height: 70px;
          height: 70px
        }

        .pl-tab-title-container .pl-tab-title.pl-tab-active {
          background-color: #646464;
          height: 60px;
          border-radius: 2px 0 0 2px
        }

        .pl-tab-title {
          height: 60px;
          border-radius: 0 2px 2px 0
        }

        .pl-tab-content-container {
          height: 169px;
          margin-top: 5px
        }

        .pl-item {
          height: 640px
        }

        .pl-header-main_logo {
          margin-left: 25px;
          margin-top: 10px
        }

        .pl-user-summary-panel-container {
          width: 100%;
          padding: 0;
          box-sizing: border-box
        }

        .pl-title {
          width: 80%;
          max-width: 525px;
          margin-top: 15px
        }

        .pl-nav-main {
          display: none !important
        }

        .header-main_wrap {
          max-width: 100%
        }

        .pl-header {
          background-color: #00266b;
          height: 80px
        }

        .pl-container {
          max-width: 100%;
          padding-right: 10px;
          padding-left: 10px;
          width: 100%;
          box-sizing: border-box
        }

        .pl-user-summary-panel-container#pl-log-in {
          height: auto
        }

        .pl-user-summary-panel-container {
          max-width: 100%;
          height: 238px
        }

        .pl-card_heading,
        .pl-separator,
        .pl-card_body,
        .pl-search,
        .pl-flight-boarding-details {
          display: none
        }

        .pl-kf-log-in-container {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto
        }

        .pl-kf-log-in-container {
          display: none
        }

        .pl-title-travel-card {
          padding: 300px 0 30px 0
        }

        .pl-travel-card {
          display: grid;
          grid-template-columns: 32% 32.5% 32%;
          grid-column-gap: 1.25rem
        }

        .pl-travel-card .pl-item {
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          background-color: #FFF;
          padding: 19px 26px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between
        }

        .pl-travel-card .pl-item-image {
          width: 45px;
          height: 45px;
          background-color: #dcdcdc;
          display: inline-block
        }

        .pl-travel-card .pl-item-content {
          display: inline-block;
          width: 110px;
          height: 14px;
          background-color: #dcdcdc
        }
      }

      .form_control .icon-info {
        position: absolute;
        top: 0;
        right: -22px
      }

      .vendor-ie .custom-checkbox input+label:after {
        border-right: 2px solid #ef9a1a;
        border-bottom: 2px solid #ef9a1a;
        transform: rotate(45deg);
        width: 9px;
        height: 14px;
        font-family: none;
        content: "";
        top: 4px;
        left: 5px
      }

      .vendor-ie .pl-header-main_logo {
        float: left;
        margin-top: 15px
      }

      .vendor-ie-11 .header-main_wrap,
      .vendor-edge-old .header-main_wrap {
        display: block
      }

      .vendor-ie-11 .nav-main,
      .vendor-edge-old .nav-main {
        display: inline-block;
        float: left;
        width: calc(100% - 125px)
      }

      .vendor-ie-11 .nav-main_wrap,
      .vendor-edge-old .nav-main_wrap {
        display: inline-block;
        float: left;
        padding-left: 30px
      }

      .vendor-ie-11 .lang-profile,
      .vendor-edge-old .lang-profile {
        width: auto;
        float: right;
        margin-right: 0
      }

      .vendor-ie .lang-profile .lang-profile_ico-search {
        position: relative;
        left: -20px
      }

      .dwc--SiaHeader__DisableScroll {
        position: initial !important;
      }

      .dwc--SiaHeader__DisableScroll body {
        overflow: hidden;
      }

      @font-face {
        font-family: 'proxima-nova';
        src: url('/assets/fonts/proximanova-regular-webfont.eot');
        src: url('/assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/proximanova-regular-webfont.woff') format('woff'), url('/assets/fonts/proximanova-regular-webfont.woff2') format('woff2'), url('/assets/fonts/proximanova-regular-webfont.ttf') format('truetype'), url('/assets/fonts/proximanova-regular-webfont.svg') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'sigvar';
        src: url('/assets/fonts/sigvar_serial-regular-webfont.eot');
        src: url('/assets/fonts/sigvar_serial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/sigvar_serial-regular-webfont.woff2') format('woff2'), url('/assets/fonts/sigvar_serial-regular-webfont.woff') format('woff'), url('/assets/fonts/sigvar_serial-regular-webfont.ttf') format('truetype'), url('/assets/fonts/sigvar_serial-regular-webfont.svg') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
