* {
    margin: 0;
    padding: 0;
    font-family: 'Finlandica', sans-serif;
  }
  
  .header {
    background: linear-gradient(to right, #00376E, #0F56A6);
    height: 80px;
  }
  
  .header-buttons {
    position: absolute;
    right: 200px;
    display: flex;
    align-items: center;
  }

  nav img {
    width: 120px;
    height: auto;
    margin-top: -10px;
    margin-right: 10px;
  }
  
  .small-logo {
    width: 80px;
  }
  
  .logopic {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .logopic img {
    width: 120px;
    margin-top: -10px;
    margin-right: 10px;
  }
  
  .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-left: 200px;
  }
  
  .nav-links ul li {
    margin-right: 50px;
  }
  
  .nav-links ul a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.35s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  .section {
    min-height: 100vh;
  }
  
  nav {
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    height: 100vh;
    overflow: hidden;
  }
  
  #backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134px;
  }
  
  header {
    background-color: #00376E;
    color: #fff;
    padding: 20px;
  }
  
  #content {
    position: absolute;
    top: 43%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .generate{
    color: green;
    margin-top: 10px;
  }
  
  #title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #00376E;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .query {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .box {
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
  }

  output[type="outputBox"] {
    display: inline-block;
    width: 950px;
    height: 300px;
    padding: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
    text-align: left;
    vertical-align: top;
    overflow: auto;
  }

  /* textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    overflow: auto;
    text-align: left;
    vertical-align: top;
  } */
  
  button {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px;
    font-size: 14px;
    background-color: #0066b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #004d99;
  }

  #output {
    position: absolute;
    top: 12%;
    right: 5%;
    height: 400px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start; 
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }